<a href="https://colab.research.google.com/github/SnigdhaSaklani/SnigdhaSaklani-python./blob/main/Comprehension7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#The list of numbers
list_of_numbers=[1,2,4,6,11,14,17,20]

In [ ]:
#Let us first initialize a list where we will be appending the squares in each iteration
squared_numbers=[1,2,4,6,11,14,17,20]
print(squared_numbers)

[1, 2, 4, 6, 11, 14, 17, 20]

In [ ]:
print(f"The list of squared numbers is {squared_numbers}")

The list of squared numbers is [1, 2, 4, 6, 11, 14, 17, 20]

In [ ]:
#Getting the list of squares using list comprehension
list_of_numbers=[1,2,4,6,11,14,17,20]
squared_numbers=[number**2 for number in list_of_numbers]
print(squared_numbers)

[1, 4, 16, 36, 121, 196, 289, 400]

In [ ]:
print(list_of_numbers)

[1, 2, 4, 6, 11, 14, 17, 20]

In [ ]:
#Writing list comprehension using conditionals
even_squared_numbers=[number**2 for number in list_of_numbers if number%2==0]
print(even_squared_numbers)

[4, 16, 36, 196, 400]

In [ ]:
#Writing list comprehension using conditionals
odd_squared_numbers=[number**2 for number in list_of_numbers if number%2!=0]
print(odd_squared_numbers)

[1, 121, 289]

In [ ]:
#Writing list comprehension using conditionals
even_squared_numbers=[number**2 for number in list_of_numbers if number%2==0]
print(even_squared_numbers)

[4, 16, 36, 196, 400]

In [ ]:
#Writing list comprehension using conditionals
odd_squared_numbers = [number**2 if number%2!=0 else number**3 for number in list_of_numbers]
print(odd_squared_numbers)

[1, 8, 64, 216, 121, 2744, 289, 8000]

In [ ]:
even_squared_numbers=[number**2 for number in list_of_numbers if number%2==0]

In [ ]:
list(range(4))

[0, 1, 2, 3]

In [ ]:
list_of_numbers=[]
for num1 in range(4):
  for num2 in range(3):
    print(num1,num2)
    list_of_numbers.append(num2)
    print(list_of_numbers)

0 0
[0]
0 1
[0, 1]
0 2
[0, 1, 2]
1 0
[0, 1, 2, 0]
1 1
[0, 1, 2, 0, 1]
1 2
[0, 1, 2, 0, 1, 2]
2 0
[0, 1, 2, 0, 1, 2, 0]
2 1
[0, 1, 2, 0, 1, 2, 0, 1]
2 2
[0, 1, 2, 0, 1, 2, 0, 1, 2]
3 0
[0, 1, 2, 0, 1, 2, 0, 1, 2, 0]
3 1
[0, 1, 2, 0, 1, 2, 0, 1, 2, 0, 1]
3 2
[0, 1, 2, 0, 1, 2, 0, 1, 2, 0, 1, 2]

In [ ]:
#We can write it in a slightly different way
list_of_numbers= [num2 for num1 in range(4) for num2 in range(3)]
print(list_of_numbers)

[0, 1, 2, 0, 1, 2, 0, 1, 2, 0, 1, 2]

In [ ]:
list_of_numbers=[num2**2 for num2 in range(3) for num1 in range(4)]
print(list_of_numbers)

[0, 0, 0, 0, 1, 1, 1, 1, 4, 4, 4, 4]

In [ ]:
sample=[[]]
len(sample)
sample[0]

[]

In [ ]:
list_of_lists=[1]
#for num1 in range(4):
#Append an empty sublist inside the list
list_of_lists.append([]) #[[0]] , list_of_lists[1]
#print(list_of_lists

In [ ]:
list_of_lists=[]
#for num1 in range(4):
#Append an empty sublist inside the list
list_of_lists.append([]) #[[0]] , list_of_lists[1]
#print(list_of_lists)

In [ ]:
for num2 in range(3):
#Append the elements within the sublist
list_of_lists[num1].append(num2) #list_of_lists[0]
print(list_of_lists)

[[0, 0, 0], [1, 1, 1], [2, 2, 2], [3, 3, 3, 2]]

In [ ]:
#Using list comprehension we can write the same thing
list_of_lists=[[num1 for num2 in range(3)] for num1 in range(4)]
print(list_of_lists)

[[0, 0, 0], [1, 1, 1], [2, 2, 2], [3, 3, 3]]

In [ ]:
heisenberg_quote= "It ceases to exist without me. No,you clearly don't know who you're talkingto, so let me clue you in. I am not in danger,Skyler. I am the danger"
words_by_walter = heisenberg_quote.split(' ')
print(words_by_walter)

['It', 'ceases', 'to', 'exist', 'without', 'me.', 'No,you', 'clearly', "don't", 'know', 'who', "you're", 'talkingto,', 'so', 'let', 'me', 'clue', 'you', 'in.', 'I', 'am', 'not', 'in', 'danger,Skyler.', 'I', 'am', 'the', 'danger']

['It', 'ceases', 'to', 'exist', 'without', 'me.', 'No,you', 'clearly', "don't", 'know', 'who', "you're", 'talkingto,', 'so', 'let', 'me', 'clue', 'you', 'in.', 'I', 'am', 'not', 'in', 'danger,Skyler.', 'I', 'am', 'the', 'danger']

['It',
 'ceases',
 'to',
 'exist',
 'without',
 'me.',
 'No,you',
 'clearly',
 "don't",
 'know',
 'who',
 "you're",
 'talkingto,',
 'so',
 'let',
 'me',
 'clue',
 'you',
 'in.',
 'I',
 'am',
 'not',
 'in',
 'danger,Skyler.',
 'I',
 'am',
 'the',
 'danger']

In [ ]:
heisenberg_quote.split('t')

['I',
 ' ceases ',
 'o exis',
 ' wi',
 'hou',
 " me. No,you clearly don'",
 " know who you're ",
 'alking',
 'o, so le',
 ' me clue you in. I am no',
 ' in danger,Skyler. I am ',
 'he danger']

In [ ]:
#Let's you store the first time of each word in another list
first_letters = []
for word in words_by_walter:
  first_letters.append(word[0])

In [ ]:
#Print the first_letters list
print(first_letters)

['I', 'c', 't', 'e', 'w', 'm', 'N', 'c', 'd', 'k', 'w', 'y', 't', 's', 'l', 'm', 'c', 'y', 'i', 'I', 'a', 'n', 'i', 'd', 'I', 'a', 't', 'd']

In [ ]:
#The same task but now with list comprehension
first_letters=[word[0] for word in words_by_walter]
print(first_letters)

['I', 'c', 't', 'e', 'w', 'm', 'N', 'c', 'd', 'k', 'w', 'y', 't', 's', 'l', 'm', 'c', 'y', 'i', 'I', 'a', 'n', 'i', 'd', 'I', 'a', 't', 'd']

In [ ]:
heisenberg_quote.split(',')

['It ceases to exist without me. No',
 "you clearly don't know who you're talkingto",
 ' so let me clue you in. I am not in danger',
 'Skyler. I am the danger']

In [ ]:
my_string='Alphsbet Inc.'
list_of_characters= [char for char in my_string]
print(list_of_characters)

['A', 'l', 'p', 'h', 's', 'b', 'e', 't', ' ', 'I', 'n', 'c', '.']

In [ ]:
#Suppose we have a tuple of days
days = ('Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday')
tuple(day for day in days)

('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday')

In [ ]:
#Let us create a tuple where we want to remove the word 'day' from each tuple element
days_without_day = tuple([day[:-3] for day in days])
print(days_without_day)

('Mon', 'Tues', 'Wednes', 'Thurs', 'Fri', 'Satur', 'Sun')

In [ ]:
Using set comprehension
first_letters = {word[0] for word in words_by_walter}
print(first_letters)

{'s', 'w', 'y', 'm', 't', 'd', 'i', 'c', 'e', 'I', 'N', 'l', 'a', 'n', 'k'}

In [ ]:
#Dictionary comprehensions
country_city_list = [('India','New Delhi'), ('Australia','Canberra'), ('United States' ,'Washington DC'),('England','London')]

In [ ]:
#lets convert the list of tuples to a dictionary
country_city_dict = dict(country_city_list)
print(country_city_dict)

{'India': 'New Delhi', 'Australia': 'Canberra', 'United States': 'Washington DC', 'England': 'London'}

In [ ]:
#The conventional for loop approach
flipped = {}
for country, city in country_city_dict.items():
  flipped[city] = country

print(flipped)

{'New Delhi': 'India', 'Canberra': 'Australia', 'Washington DC': 'United States', 'London': 'England'}

In [ ]:
#The new dictionary comprehension

flipped = {city:country for country,city in country_city_dict.items()}
print(flipped)

{'New Delhi': 'India', 'Canberra': 'Australia', 'Washington DC': 'United States', 'London': 'England'}

In [ ]:
#We can add further conditionals

flipped = {city:country for country,city in country_city_dict.items() if country[0] in ['E','A']}
print(flipped)

{'Canberra': 'Australia', 'London': 'England'}

In [ ]:
#The new dictionary comprehensions

flipped = {country[:2] : city[-2:]for country,city in country_city_dict.items()}
print(flipped)

{'In': 'hi', 'Au': 'ra', 'Un': 'DC', 'En': 'on'}

In [ ]:
print(country_city_dict)

{'India': 'New Delhi', 'Australia': 'Canberra', 'United States': 'Washington DC', 'England': 'London'}