<a href="https://colab.research.google.com/github/SnigdhaSaklani/SnigdhaSaklani-python./blob/main/Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
heisenberg_quote = "It creates to exist without me. No, you clearly don't know who you're talking to, so let me clue you in. I am not in danger."

words_by_walter = heisenberg_quote.split(' ')

first_letters = [word[0] for word in words_by_walter]
print(first_letters)

['I', 'c', 't', 'e', 'w', 'm', 'N', 'y', 'c', 'd', 'k', 'w', 'y', 't', 't', 's', 'l', 'm', 'c', 'y', 'i', 'I', 'a', 'n', 'i', 'd']

In [11]:
def extract_first_letters(sentence):
  words_in_sentence = sentence.split(' ')
  first_letters = [word[0] for word in words_in_sentence]
  return first_letters
  print(extract_first_letters(heisenberg_quote))

In [13]:
#Function for calculating factorial of a number
def factorial(num):
  result = 1
  if num < 0:
    print("factorial is not defined for negative numbers")
  elif (num> 0):
    for i in range(1, num+1):
            result = result * i
    print(f"the factorial of {num} is {result}")
  else:
              result = 1
              print('factorial of 0 is ',result)

factorial(5)

the factorial of 5 is 120

In [15]:
#Now let us define a list of numbers for which we want to calculate the factorials
list_of_numbers = [1,2,3,4,5,6,7]

In [16]:
#We can write a list comprehension for the same task
list_of_numbers = [1,2,3,4,5,6,7]
factorial_list = [factorial(number) for number in list_of_numbers if number%2!=0]
print(factorial_list)

the factorial of 1 is 1
the factorial of 3 is 6
the factorial of 5 is 120
the factorial of 7 is 5040
[None, None, None, None]

In [18]:
def assignQuarter(user_date):
  date_year = user_date[:4]
  date_month = user_date[5:7]

  if (date_month >= '01') & (date_month <= '03'):
    quarter = date_year + '-Q1'
  elif (date_month >= '04') & (date_month <='06'):
      quarter = date_year + '-Q2'
  elif (date_month >= '07') & (date_month <= '09'):
    quarter = date_year + '-Q3'
  else:
    quarter = date_year + '-Q4'
  return quarter

In [20]:
sample_date = '2020-07-01'
date_quarter = assignQuarter(sample_date)
print(date_quarter)

2020-Q3

In [21]:
my_quarter = assignQuarter('2020-07-01')
print(my_quarter)

2020-Q3

In [23]:
#Functoin with multiple return statements
def check_even_or_odd(num):
  print(f"given number is {num}")

  if num%2 ==0:
    return 'even'
  return 'odd'

is_even_odd = check_even_or_odd(10)
print(is_even_odd)

given number is 10
even

In [24]:
#Function which adds an element to list
def list_append(my_list, elem):
  new_list = my_list + [elem]
  return new_list

In [26]:
heights = [150,160,170,180,190,200]
list_append(heights, 190)

[150, 160, 170, 180, 190, 200, 190]

In [28]:
list_append(heights, elem = 40)

[150, 160, 170, 180, 190, 200, 40]

In [29]:
heights.append(60)

In [30]:
print(heights)

[150, 160, 170, 180, 190, 200, 60]

In [32]:
#Scope
def experiment():
  global x
  x = 50
  return x

In [33]:
experiment()

50

In [34]:
def new_experiment():
  x = 50
  return x
x = 40

In [35]:
new_experiment()

50

In [36]:
x

40